html,
body {
  background-color: #eee7e1;
}

.page-default-color {
  background-color: #eee7e1;
}

.page-start-color {
  background-color: #c86b44;
}

.page-end-color {
  background-color: #7d806c;
}
